
/************************* general *****************************/
body, section, #joueur, #ordinateur, #resultat, html, #resultatJoueur,#resultatOrdinateur, .rows {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    font-family: "amatic", cursive;
    text-align: center;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

p {
    font-family: "josefin", fantasy;
}

.taille {
    font-size: 90px;
}

.bleu {
    color: rgb(46, 167, 151);
}

.rouge {
    color: rgb(255, 120, 120);
}

a {
    text-decoration: none;
}

/************************** typo ******************************/
@font-face {
    font-family: "josefin";
    src: url("typo/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: "amatic";
    src: url("typo/AmaticSC-Bold.ttf");
}

#submit1, #oui {
    background-color: rgb(46, 167, 151);
    border: none;
}

#submit2, #non {
    background-color: rgb(255, 120, 120);
    border: none;
}

input {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: rgb(220, 220, 220);
}

/************************* titre *********************************/
header {
    text-align: center;
    font-size: 35px;
    text-shadow: 1px 1px 1px #898999;
}
header h1 {
    border: dotted rgba(0, 0, 0, 0.1);;
}

/*************************section ******************************/
section {
    width: 100%;
}

/****************section de la page index***********************/
#connexion, #inscription, #PointJoueur,#PointOrdinateur {
    width: calc(99% / 2);;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

#regles {
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}

.align {
    vertical-align: middle;
    display: inline-block;
}

/*******************section de la page jeu**********************/
/*division en trois*/
#joueur, #ordinateur, #resultat {
    width: calc(98% / 3);
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

#bouton {
    display: none;
}

/************************carre pour les points********************/
#recap {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15px;
    text-align: center;
    background-color: rgb(220, 220, 220);
    border: 2px solid rgb(15, 107, 121);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

/***********************section de la page recap**************************/
#joueurAffichage, #classementAffichage {
    width: calc(99% / 2);
    display: inline-block;
    vertical-align: top;
}


.droite, .gauche {
    width: calc(97% / 2);
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

/*****************************bas de page****************************/
footer {
    bottom: 0;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 13%;
    padding-top: 1px;
    text-align: center;
    color: rgb(163, 163, 163);
    box-shadow: 0 -4px 2px -2px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

/*************Boutons radio pour les images cliquables****************/
.radio {
    display: none;
}


    